{% extends "base.html"%}
{% block title %}Document Types{% endblock %}
{% block page_title %}Admin - Document Types{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Initials</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                {% for doc_type in doc_types %}
                    <tr>
                        <td>{{ doc_type.initials }}</td>
                        <td>{{ doc_type.name }}</td>
                        <td>{{ doc_type.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-3 border">
            <form method="POST" action="" autocomplete="off">
                {{ form.hidden_tag() }}
                <legend class="border-bottom pt-2 pb-2">
                    Create New Document Type
                </legend>
                <div class="form-group">
                    {{ form.initials.label(class="form-control-label") }}
                    {{ form.initials(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {{ form.description(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}