{% extends "base.html"%}
{% block title %}Projects{% endblock %}
{% block page_title %}Admin - Projects{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Creation Date (UTC)</th>
                    </tr>
                </thead>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.creation_date.strftime('%d %B %Y | %H:%M') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-3 border">
            <form method="POST" action="" autocomplete="off">
                {{ form.hidden_tag() }}
                <legend class="border-bottom pt-2 pb-2">
                    Create New Project
                </legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {{ form.description(class="form-control form-control-lg")  }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}