{% extends "base.html"%}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="content-section p-2">
    <form method="POST" action="" autocomplete="off">
        {{ form.hidden_tag() }}
        <fieldset class="col-md-4 offset-md-8 mt-4 border">
            <legend class="border-bottom mb-4">
                Create New Document Number
            </legend>
            <div class="form-group">
                {{ form.project.label(class="form-control-label") }}
                {{ form.project(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.doc_type.label(class="form-control-label") }}
                {{ form.doc_type(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>

</div>

<!--&lt;!&ndash;<div class="container mt-4">&ndash;&gt;-->
<!--  <div class="d-flex justify-content-center">-->
<!--    <div class="col col-md-4 col-lg-5">-->
<!--      <select class="form-control" >-->
<!--        <option selected disabled hidden>Select Project:</option>-->
<!--        {% for item in proj_vals %}-->
<!--          <option>{{item.name}}</option>-->
<!--        {% endfor %}-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="col col-md-4 col-lg-5">-->
<!--      <select class="form-control" id="doc_type_id">-->
<!--        <option selected disabled hidden>Select File Type:</option>-->
<!--        {% for item in doc_type_vals %}-->
<!--          <option>{{item.initials}}{{" | "}}{{item.description}}</option>-->
<!--        {% endfor %}-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="container mt-4">&ndash;&gt;-->
<!--    <div class="d-flex justify-content-center">-->
<!--        <div class="col col-md-8 col-lg-10">-->
<!--          <div class="input-group-append">-->
<!--            <input type="text" class="form-control" placeholder="Input document name / description" maxlength = "40">-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="button">Create</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</fieldset>-->
<!--</form>-->
{% endblock %}